.crushContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #0f0;
  z-index: 1000;
  display: flex;
  font-family: 'Courier New', monospace;
  padding: 2rem;
}

.close{
  background-color: #000;
  border: none;
  box-shadow: none;
}

.terminal {
  display: flex;
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  line-height: 1.4;
  font-size: 2rem;
  max-width: 800px;
  width: 100%;
   align-items: center;
  justify-content: center;
}

.terminalText {
  display: inline;
}

.cursor {
  display: inline-block;
  background-color: #0f0;
  width: 8px;
  height: 1.2em;
  margin-left: 2px;
  animation: blink 0.8s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}