:root{
  font-family: "Comic Sans MS", cursive;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  background: linear-gradient(#454ea1, #a8bef3);
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
